#toc,
#chapmenu {
	font-family: arial, sans-serif;
	top: 4.5em;
}

#toc {
	padding: .25rem;
	box-sizing: border-box;
	position: absolute;
	left: 5px;
	max-width: 12rem;
	bottom: auto;
	margin: auto;
	/*background: rgba(245, 0, 255, 0.53);*/
}

#toc a {
	font-size: 0.9em;
}

#toc h2 {
	margin: 0;
	margin-bottom: 1rem;
}

#toc a {
	text-decoration: none;
	color: #3c56c7;
}

#toc ul ul a {}

#toc a:hover {
	text-decoration: underline;
}

#toc ul {
	margin: 0;
	padding: 0;
	/*background: rgba(255, 0, 245, 0.4);*/
}

#toc ul ul {
	margin-left: .75em;
	list-style-type: none;
}

#toc li {
	font-weight: bold;
}

#toc li li {
	font-weight: normal;
}

main {
	margin-left: 8rem;
	margin-right: 7em;
	padding: .25em;
}
/*
@media screen and (min-height: 30em) {
	#chapmenu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: auto;
		margin: auto;
	}
}*/