.meitemarkramme {
	position: relative;
	border-radius: 2em;
}

.meitemarkramme:after {
	position: absolute;
	z-index: -1;
	content: "";
	top: -2em;
	left: -2em;
	right: -2em;
	bottom: -2em;
	background-image: url('../img/meitemark02-bg-tl-81x200.png'), url('../img/meitemark02-bg-tr-200x81.png'), url('../img/meitemark02-bg-br-81x200.png'), url('../img/meitemark02-bg-bl-200x81.png');
	background-position: top left, top right, bottom right, bottom left;
	background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: sans-serif;
	font-weight: bold;
	margin: 0;
	margin-top: 1.5em;
	margin-bottom: 0em;
}

h2,
h4,
h6 {
	color: #8e0012;
}

h1 {
	font-size: 2.5em;
	margin-top: 0;
}

h2 {
	font-size: 1.75em;
}

main h2 {
	border-bottom: 1px solid #ccc;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}

h5 {}

h6 {}

dl {
	border: 1px solid black;
	margin: 2em;
	padding: 1em;
}

dt {
	margin-left: 1em;
	font-weight: bold;
}

dd {
	font-style: italic;
}

figure.plain {
	background: white;
	text-align: left;
}

figure.plain legend {
	text-align: left;
	margin: 0;
}

figure,
.figurewrap {
	background-color: #f0f0f0;
}

figure {
	border: 1px solid #989898;
	display: block;
	margin: 2em;
	padding: 1em;
	position: relative;
	z-index: 1;
	text-align: center;
}

figure:after,
.figurewrap:after {
	/*clearfix*/
	
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.figurewrap {
	text-align: center;
	border: 1px solid black;
	float: left;
	padding: 0;
	margin: 2em;
}

.figurewrap figcaption {
	display: inline-block;
	height: 3.5em;
}

.figurewrap figure {
	width: 25%;
	float: left;
	margin: 0;
	border: none;
	margin: 0;
	box-sizing: border-box;
}

.figurewrap figure img {
	max-width: 100%;
	max-height: 25em;
}

legend {
	display: inline-block;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1.25em;
	text-align: center;
	margin: auto;
}

figcaption {
	font-family: sans-serif;
}

figure img {
	background-color: white;
	padding: 5px;
	border: 1px solid black;
	position: relative;
	min-height: 6em;
	min-width: 6em;
	margin: 1em auto;
	display: block;
	max-width: 99%;
	height: auto;
	z-index: 1;
}

p {
	margin: 0;
}

h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
	margin-top: .25em;
}

p+p {
	margin-top: .65em;
}

#lang_select h2 {
	color: red;
	height: 0;
	position: absolute;
	left: -9999px;
}

body {
	line-height: 1.5em;
	margin: auto;
}

header {
	height: 4em;
	/*background: rgba(0, 128, 0, 0.1);*/
	
	margin: 0;
	margin-bottom: .5em;
	border-bottom: 1px solid #bcbcbc;
}

header h1 {
	margin: 0 10rem 0 16rem;
	line-height: 2em;
	text-align: center;
	/*background: rgba(255, 255, 0, 0.42);*/
}

.fourchildren {
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	display: table;
}

legend.fourchildren span {
	text-align: center;
	display: inline-block;
	padding: 0;
	margin: 0 -.125em;
}

.fourchildren > span {
	width: 25%;
	box-sizing: border-box;
	margin: 0;
	display: table-cell;
	vertical-align: top;
	text-align: left;
	padding: 0;
	padding-left: 1em;
}

.fourchildren > span:first-child {
	padding-left: 0;
}

a[href$=".docx"]:after,
a[href$=".pdf"]:after {
	font-family: sans-serif;
	color: black;
	font-size: .85em;
	margin-left: .25em;
	padding: .125em .25em;
	text-decoration: none;
	display: inline-block;
	border-radius: .25em;
}

a[href$=".docx"]:hover:after,
a[href$=".pdf"]:hover:after {
	background-color: #ffee9c;
}

a[href$=".docx"]:after {
	content: "[docx]";
}

a[href$=".pdf"]:after {
	content: "[pdf]";
}