		nav ul {
			list-style-type: none;
			margin: 0;
		}
		
		figure {
			border: 1px solid #989898;
			display: block;
			margin: 0 2em;
			padding: 1em;
			position: relative;
			z-index: 1;
			background-color: #f0f0f0;
			text-align: center;
		}
		
		figure:after {
			/*clearfix*/
			
			visibility: hidden;
			display: block;
			content: "";
			clear: both;
			height: 0;
		}
		
		legend {
			display: inline-block;
			font-weight: bold;
			font-family: sans-serif;
			font-size: 2em;
			text-align: center;
			margin: auto;
		}
		
		figcaption {
			font-family: sans-serif;
		}
		
		figure img {
			border: 5px solid white;
			position: relative;
			min-height: 6em;
			min-width: 6em;
			margin: 1em auto;
			display: block;
			max-width: 80%;
			height: auto;
			z-index: 1;
		}
		
		body {
			line-height: 1.75em;
		}
		
		#lang_select h2 {
			color: red;
			height: 0;
			position: absolute;
			left: -9999px;
		}