/*lang select*/

#lang_select {
	position: relative;
}

#primary_language {
	position: absolute;
	right: 50%;
	margin-right: 1.5em;
}

#secondary_language {
	position: absolute;
	left: 50%;
	margin-left: 1.5em;
}

body {
	margin-top: 0;
}

h1#page-head {
	text-align: center;
	margin: .25em;
}

main {
	position: fixed;
	z-index: 1;
	top: 7em;
	right: 5px;
	bottom: 2em;
	left: 5px;
	box-sizing: border-box;
	background-color: #fffef0;
	border: 1px solid black;
}

footer {
	position: fixed;
	bottom: 0;
	height: 1.95em;
	left: 5px;
	right: 5px;
	background: #f2f1e1;
	color: black;
	border: 1px solid #89613f;
	box-sizing: border-box;
}

footer ul {
	float: right;
	margin: 0;
	padding: 0 .5em;
	list-style-type: none;
}

footer li {
	float: left;
	line-height: 2em;
	margin: 0 .5em;
}

#story {
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	right: 0;
	box-sizing: border-box;
}

#story .lang_container {
	width: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
}

.lang_container article {
	background: rgba(255, 255, 255, .5);
	/*position: relative;*/
	box-sizing: border-box;
	padding: .5em 1em;
	padding-top: 0em;
	display: block;
	line-height: 2em;
	box-shadow: 0 0 .5em gray;
	border: 1px solid black;
	max-width: 90%;
	width: 30em;
	height: 11em;
	float: right;
	margin: 0.5em auto;
	overflow: hidden;
}

.lang_container + .lang_container article {
	float: left;
}

#primary_language_container article {
	margin-right: .5em;
}

#secondary_language_container article {
	margin-left: .5em;
}

.lang_container article p {
	margin: 0;
}
/*#story .lang_container + .lang_container {
	display: none;
}*/
/*
.dual #story .lang_container + .lang_container {
	display: inline-block;
}*/

.lang_container audio {
	position: static;
	width: 100%;
	padding: 0;
	margin: auto;
	margin-top: .25em;
	max-height: 1.5em;
}
/*
.dual #primary_language_container audio {
	margin: auto;
}*/

#caves {
	width: 100%;
	height: auto;
	max-height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: auto;
	margin: 0;
	margin-top: auto;
	border: none;
}
/*#svg_wrap {
			width: 100%;
			display: block;
			background: white;
		}*/

header {
	font-size: .75em;
}

header h1 {
	margin: 0 auto;
}

#lang_select {}



div[id^=slide][smil=active] .slidenum,
audio + div[id^=slide] .slidenum
{
	display: inline-block;
	position: absolute; font-size: 1em; 
	font-weight: normal;
	color: black;
	z-index: 10;
	bottom: -1.5em; right: .25em;
	border-radius: .5em;

}

[id^=slide] + [id^=slide] .slidenum,
audio + div[id^=slide][smil=done] .slidenum{display: none;}

#secondary_language_container .slidenum {
	right: auto; left: .5em;
}

