/* make audio controls fill width */

audio {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 98%;
	z-index: 10;
	opacity: 1;
}

.dual audio {
	width: 48.25%;
}

.dual #primary_language_container audio {
	right: auto;
	margin-left: .75%;
}

.dual #secondary_language_container audio {
	left: auto;
	margin-right: .75%;
}

body {
	margin-top: 3em;
}

h1 {
	font-family: sans-serif;
}
/* clearfix */

.lang_container + .lang_container {
	/*display:none;*/
}

.lang_container {
	margin: 0;
	/*float:left;*/
	
	width: 100%;
}

.dual .lang_container {
	width: 50%;
	float: left;
	display: inline-block;
}

.dual #story:after {
	content: "";
	display: table;
	clear: both;
}

.lang_container article {
	margin: 1em;
}

article {
	line-height: 1.75em;
	font-size: 1.25em;
}

footer {
	border-top: 1px solid black;
	margin-top: 2em;
}

footer li {
	list-style-type: none;
	float: left;
}

footer li+li {
	margin-left: 1em;
}

footer ul {
	float: right;
	margin: 1em;
	padding: 0;
}